@import "../touchkit/touchkit.scss";

@mixin myTouchkit {
  
  @include touchkit;
  	
	.body {
		background-color: black;
	}
	
	.thumb-l {
	    display: block;
		max-width: 200px !important;
		max-height: 200px !important;
	    width: 200px;
	    height: auto;
	}
	
	.thumb-p {
		display: block;
		max-width: 200px !important;
		max-height: 200px !important;
	    height: 200px;
	    width: auto;
	}
	
	.thumb-box {
		background-color: #333333;
		boder-color: red;
		border-width: 10px;
		max-width: 250px !important;
		max-height: 250px !important;
	}
	
	.v-captiontext {
	  width: 250px;
	  white-space: normal;
	  word-wrap: normal;
	  text-align: left;
	}
}