.myTouchkit .body {
	background-color: black;
}

.myTouchkit .v-slot-thumb-caption {
	text-align: center;
}

.myTouchkit .thumb-box {
	background-color: #444444;
	margin: 3px;
	max-width: 240px !important;
	max-height: 240px !important;
	width: 240px !important;
	height: 240px !important;
	text-align: center;
}

.myTouchkit .thumb-layout {
	background-color: #222222;
	margin: 10px;
	text-align: center;
	width: 100%;
	height: 100%;
}

.myTouchkit .v-captiontext {
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	color: #BBBBBB;
	text-align: center;
	white-space: normal;
	word-wrap: normal;
}

.myTouchkit .v-slot {
	background-color: #444444;
	color: #BBBBBB;
}

.myTouchkit .v-touchkit-navbar-caption {
	background-color: #444444;
	color: #BBBBBB;
}

.myTouchkit .v-touchkit-navview-wrapper {
	background-color: #222222;
	color: #BBBBBB;
}

.myTouchkit .v-textfield {
	background-color: #666666;
	color: #BBBBBB;
}

.myTouchkit textarea.v-textarea-readonly {
	color: white;
}

.myTouchkit .v-touchkit-navview-toolbar {
	background-color: #000000;
	color: white;
}

.myTouchkit .v-button-wrap {
	background-color: #333333;
}

.myTouchkit .v-button {
	border-radius: 0px;
	background-color: #000000;
	border-color: #000000;
}